html,
body {
  height: 100%;
}

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: true !default;
$enable-shadows: true;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;

// Variables
//
// Colors

$theme-colors: (
  primary: #2e76a3,
  secondary: #E57200,
  light: #ffffff,
  dark: #555555,
  info: #8e8e8e,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);

$body-bg: #f5f5f5;
$body-color: #333;
$body-color-inverse: invert($body-color) !default;
$link-color: #2e76a3;

// Fonts
$font-family-base: Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: Lato, "Helvetica Neue", Arial, sans-serif;
$display-font-family: $font-family-base;
$font-weight-normal: 400;
$headings-font-weight: 400;
$headings-font-weight: $font-weight-normal;
$lead-font-size: 1.3rem;
$lead-font-weight: 400;
$spacer: 1.5rem;

$font-weight-light: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$headings-line-height: 1.2;

$font-size-base: 0.875rem;
$enable-responsive-font-sizes: true;

@import "bootstrap-4.1.3";

// Color yiq
@each $name, $value in $theme-colors {
  .bg-#{$name} {
    color: color-yiq($value);
    input::placeholder {
      color: transparentize(color-yiq($value), 0.2);
    }
    .input-group-text {
      color: color-yiq($value);
    }
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.cover {
  min-height: 100%;
}

/******** Custom Menu *********/

#search-input {
  border: 0px;
}

.btn,
.btn-primary,
.btn-secondary,
.btn-outline-secondary,
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link,
#search-input {
  border-radius: 25px;
}

.bg-home-bacteria {
  background: #2e76a3 url("public/assets/header-bg2.png") center left no-repeat;
  background-position: contain;
}

.nav-mobile-home {
  display: none;
}

@media screen and (max-width: 414px) {
  .nav-mobile-home {
    display: block;
    color: white !important;
  }
}

.nav-link {
	padding: 8px;
}

.navbar-nav {
  align-items: center;
}
.navbar-brand {
  display: none;
}

@media screen and (min-width: 414px) and (max-width: 480px) {
  .navbar-brand {
    display: block;
    text-indent: -9999px;
    width: 79px;
    margin-right: 0px;
    padding: 0px;
    color: white;
    background-image: url("public/assets/patric-logo-88h.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 480px) {
  .navbar-patric {
    padding: 0.75rem 0.25rem;
  }

  .nav-link.dropdown-toggle {
    display: flex;
    flex-direction: column;
    &::after {
      margin-top: 0.255rem;
    }
  }
}

@media screen and (min-width: 480px) {
  .navbar-brand {
    display: block;
    text-indent: -9999px;
    width: 132px;
    margin-right: 0px;
    margin-top: -1px;
    padding: 0px;
    color: white;
    background-image: url("public/assets/patric-logo-88h.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.hr--brand {
  border-top: 3px solid #ffa750;
}

.hr--brand-sm {
  border-top: 1px solid theme-color(secondary);
}

.navbar-patric {
  min-width: 290px;
  background: #2e76a3 !important;
  border-top: 3px solid #154e72;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* makes the dropdown full width */
.navbar-patric > .nav {
  & > .dropdown {
    position: static;
   	& > .dropdown-menu {
    border: none !important;
    border-radius: 0 0 0 0;
    width: 100%;
    left: 0;
    right: 0;
    top: 33px;
    transition: visibility 0s, opacity 0.25s linear;
    display: block;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
  	}
  	& > .dropdown-menu.show {
    visibility: visible !important;
    opacity: 100;
  	}
  }

    /* shows the dropdown menu on hover */
  & > .dropdown:hover > .dropdown-menu,
  & > .dropdown > .dropdown-menu:hover,
  & > .dropdown.show > .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.25s linear;
  }
  & > .dropdown:hover,
  & > .dropdown.show {
    border-top: 3px solid theme-color(secondary);
    margin-top: -3px !important;
  }

  .nav-item {
    padding: 0 5px 0 0;
    margin: 0;
  }

  .nav-link.dropdown-toggle {
    font-family: Lato;
    font-size: 13px;
    color: #b2cbda !important;
  }
  .nav-link.dropdown-toggle:hover,
  .nav-link.dropdown-toggle:active,
  .nav-link.dropdown-toggle:focus {
/*    background-color: rgba(0, 0, 0, 0.17);
    border-radius: 25px;
*/
    color: white !important;
  }
}

/* keep nav bar expanded to mobile */
.navbar-expand-sm {
  flex-flow: row nowrap;
  justify-content: flex-start;
}


/** Content styles **/

.pill-border {
  color: #495057;
  border: 1px solid #d5d5d5;
  border-radius: 30px;
  padding: 3px 15px 3px 3px;
  &:hover {
    background-color: #f8f9fa;
    text-decoration: none;
  }
}

.list-group-flush {
  .list-group-item:first-child {
    border-top: 0;
  }
  .list-group-item:last-child {
    border-bottom: 0;
  }
}

.list-group-item {
  color: #2e76a3;
}

.carousel-control-prev,
.carousel-control-next {
  color: theme-color(secondary);
  align-items: start;
}

.card-news {
  .carousel-control-prev,
  .carousel-control-next {
    padding-top: 5px;
  }
}

.card-services {
  .carousel-control-prev,
  .carousel-control-next {
    padding-top: 210px;
  }
}

.carousel-control-prev {
  left: -20px;
}

.carousel-control-next {
  right: -20px;
}

.carousel-control-prev:focus,
.carousel-control-next:focus,
.carousel-control-prev:hover,
.carousel-control-next:hover {
  color: theme-color(secondary);
}

.carousel-indicators li {
  background-color: theme-color(dark);
}

.carousel-indicators .active {
  background-color: theme-color(secondary);
}

#adv-search {
  .dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
  }
  .input-group-btn .btn-group {
    display: flex !important;
  }
  .btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
  }
  .btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  .form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

@media screen and (max-width: 500px) {
  .foot-programs {
    text-align: center;
  }
  .row--search__fields {
    flex-direction: column;
  }
}
@media screen and (min-width: 499px) {
  .foot-programs {
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  .share_links {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  #adv-search {
    #adv-search {
      width: 500px;
      margin: 0 auto;
    }
    .dropdown.dropdown-lg {
      position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
      min-width: 500px;
    }
  }
}

/*****************************/
/* Navbar customizations     */

#navbarDropdown_search_menu {
  label {
    font-family: $headings-font-family;
  }
  legend {
    font-family: $headings-font-family;
  }
}

.row--search {
  margin-right: -20px;
  margin-left: -20px;
  background: theme-color(primary) url(assets/header-bg2.png) center left no-repeat;
  background-size: 900px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  &__top {
	  border-top-left-radius: .25rem !important;
  	border-top-right-radius: .25rem !important;
  }
}

.timeline-Header {
  display: none;
}