// Options
// 
// Quickly modify global styling by enabling or disabling optional features.
  
$enable-rounded:            true !default;
$enable-shadows:            true;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Variables
//
// Colors

$theme-colors: (
  primary: #2E76A3,
  secondary: #FFA750,
  light: #FFFFFF,
  dark: #555555,
  info: #8e8e8e,
  success: #28a745,
  warning: #ffc107,
  danger: #dc3545
);

$body-bg: white;
$body-color: #333;


$body-color-inverse: invert($body-color) !default;
$link-color: #2E76A3;

// Fonts
$font-family-base: Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: Lato, "Helvetica Neue", Arial, sans-serif;
$display-font-family: $font-family-base;
$font-weight-normal: 400;
$headings-font-weight: 400;
$headings-font-weight: $font-weight-normal;
$lead-font-size:   1.30rem;
$lead-font-weight:   400;
$spacer: 1.5rem;

$font-weight-light: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$headings-line-height: 1.2;
$enable-responsive-font-sizes: true;
$font-size-base: .875rem;

@import 'bootstrap-4.1.3';
 
html,body {
   height:100%;
}

// Color yiq
@each $name, $value in $theme-colors {
  .bg-#{$name} {
    color: color-yiq($value);
   	input::placeholder {
      color: transparentize(color-yiq($value), .2);
    }
    .input-group-text {
      color: color-yiq($value);
    }
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.cover {
	min-height:100%;
}


/******** Custom Menu *********/

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Roboto:400,700&display=swap');

body {
  background: #F5F5F5;
}

.btn, .btn-primary, .btn-secondary, .btn-outline-secondary, .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  border-radius: 25px;
}

.bg-home-bacteria {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+50,89c3eb+51,d5ebfb+100;Blue+Gloss+%234 */
background: #2E76A3 url('assets/header-bg2.png') center left no-repeat;
  background-position: contain;


}

.nav-mobile-home { display: none;}

@media screen and (max-width: 414px) {

.nav-mobile-home { display: block; color: white !important; }

}

.navbar-brand { display: none; }

@media screen and (min-width: 414px) and (max-width: 480px) {

	.navbar-brand { display: block; text-indent: -9999px; width: 79px; margin-right: 0px; padding:0px; color: white; 
  background-image: url(assets/patric-logo-88h.png);	background-position: center center;	background-size: contain;	background-repeat: no-repeat;
  }

}

@media screen and (max-width: 480px) {
   	.navbar-patric {
  	padding: .75rem .25rem;
  }
 
  .nav-link.dropdown-toggle {
  	display: flex;
    flex-direction: column;
    &::after {
      margin-top: .255rem;
    }
  }
}

@media screen and (min-width: 480px) {
	.navbar-brand { display: block; text-indent: -9999px; width: 111px; margin-right: 0px; padding:0px; color: white;
  
  background-image: url(assets/patric-logo-88h.png);	background-position: center center;	background-size: contain;	background-repeat: no-repeat;
  }
}

.hr--brand {
  border-top: 3px solid #FFA750;
}

.hr--brand-sm {
	border-top: 1px solid theme-color(secondary);
}


.navbar-patric>.nav>div>.nav-item {}
.navbar-patric>.nav>div>.dropdown>.dropdown-menu {}

.navbar-patric {
  min-width: 290px;
background: #2e76a3 !important;
background: -moz-linear-gradient(top,  #2e76a3 0%, #154e72 100%) !important;
background: -webkit-linear-gradient(top,  #2e76a3 0%,#154e72 100%) !important;
background: linear-gradient(to bottom,  #2e76a3 0%,#154e72 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e76a3', endColorstr='#154e72',GradientType=0 );
border-top: 3px solid #154E72;
  padding-top:0px;
  padding-bottom:0px;
}

/* makes the dropdown full width */
.navbar-patric>.nav>div>.dropdown {position:static;}


.navbar-patric>.nav>div>.dropdown>.dropdown-menu {
  border: none !important; 
  border-radius: 0 0 0 0; 
width: 100%;
  left:0;
  right:0;
  top:36px;
  transition: visibility 0s, opacity 0.25s linear;
  display:block;
  visibility: hidden;
  opacity: 0;
    background-color: #fff;
}

.navbar-patric>.nav>div>.dropdown>.dropdown-menu.show {
  
  visibility: visible !important;
  opacity: 100;
}


.navbar-patric>.nav>div>.nav-item { padding: .125rem .125rem; margin: 0; }

.navbar-patric>.nav>div>.nav-item>.nav-link.dropdown-toggle {
  font-family: Lato;
  font-size: .75rem;
  color: white !important;
  }

.navbar-patric>.nav>div>.nav-item>.nav-link.dropdown-toggle:hover, .navbar-patric>.nav>div>.nav-item>.nav-link.dropdown-toggle:active, .navbar-patric>.nav>div>.nav-item>.nav-link.dropdown-toggle:focus {
background-color: rgba(0,0,0,.17);
  border-radius: 25px;
}



/* keep nav bar expanded to mobile */
.navbar-expand-sm {
flex-flow: row nowrap;
justify-content: flex-start;
}


  /* shows the dropdown menu on hover */
.navbar-patric>.nav>div>.dropdown:hover>.dropdown-menu, .navbar-patric>.nav>div>.dropdown>.dropdown-menu:hover, .navbar-patric>.nav>div>.dropdown.show>.dropdown-menu {
  display:block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.25s linear;

}
  

.navbar-patric>.nav>div>.dropdown:hover, .navbar-patric>.nav>div>.dropdown.show {
		border-top: 3px solid theme-color(secondary);
  	margin-top: -3px !important;
}

.pill-border {
  color: #495057;
	border: 1px solid #d5d5d5;
  border-radius: 30px;	
  padding: 3px 15px 3px 3px;
  &:hover {
    background-color: #f8f9fa;
    text-decoration: none;
  }
}

.list-group-flush {
.list-group-item:first-child {
border-top: 0;
}
  .list-group-item:last-child {
  border-bottom: 0;
  }
}

.list-group-item {
color: #2E76A3;
}


.carousel-control-prev, .carousel-control-next {
	color: theme-color(secondary);
  align-items: start;
  padding-top: 210px;
}

.carousel-control-prev {
	left: -20px;
}

.carousel-control-next {
  right: -20px;
}

.carousel-control-prev:focus, .carousel-control-next:focus, .carousel-control-prev:hover, .carousel-control-next:hover {
	color: theme-color(secondary);
}

.carousel-indicators li {
	background-color: theme-color(dark);
}

.carousel-indicators .active {
	background-color: theme-color(secondary);
}

#adv-search {
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
}

@media screen and (max-width: 500px) {
  .foot-programs {
  	text-align: center;
  }
}
@media screen and (min-width: 499px) {
  .foot-programs {
  	text-align: right;
  }
}


@media screen and (min-width: 768px) {
#adv-search {
  
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

}

/****** Navbar alt ******/


.navbar-patric-alt-vert
{ 

  
  .nav-link{
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
	}
  
  .dropdown-toggle::after { margin-top: .125em;}
  
  .nav-link.dropdown-toggle {
    padding: .425rem 1.125rem;
  }
  
  .nav>.dropdown>.dropdown-menu {
  	top:50px !important;
  }
}
  

.navbar-patric-alt>.nav>.nav-item {}
.navbar-patric-alt>.nav>.dropdown>.dropdown-menu {}

.navbar-patric-alt {
  min-width: 290px;
background: #2e76a3 !important;
background: -moz-linear-gradient(top,  #2e76a3 0%, #154e72 100%) !important;
background: -webkit-linear-gradient(top,  #2e76a3 0%,#154e72 100%) !important;
background: linear-gradient(to bottom,  #2e76a3 0%,#154e72 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e76a3', endColorstr='#154e72',GradientType=0 );
border-top: 3px solid #154E72;
  padding-top:0px;
  padding-bottom:0px;
}

/* makes the dropdown full width */
.navbar-patric-alt>.nav>.dropdown {position:static;}


.navbar-patric-alt>.nav>.dropdown>.dropdown-menu {
  border: none !important; 
  border-radius: 0 0 0 0; 
width: 100%;
  left:0;
  right:0;
  top:54px;
  transition: visibility 0s, opacity 0.25s linear;
  display:block;
  visibility: hidden;
  opacity: 0;
    background-color: #fff;
}

.navbar-patric-alt>.nav>.dropdown>.dropdown-menu.show {
  
  visibility: visible !important;
  opacity: 100;
}


.navbar-patric-alt>.nav>.nav-item { padding: .125rem .125rem; margin: 0; }

.navbar-patric-alt>.nav>.nav-item>.nav-link.dropdown-toggle {
  font-family: Lato;
  font-size: .75rem;
  color: white !important;
  }

.navbar-patric-alt>.nav>.nav-item>.nav-link.dropdown-toggle:hover, .navbar-patric-alt>.nav>.nav-item>.nav-link.dropdown-toggle:active, .navbar-patric-alt>.nav>.nav-item>.nav-link.dropdown-toggle:focus {
/** background-color: rgba(0,0,0,.17);
  border-radius: 25px;
**/
		border-top: 3px solid theme-color(secondary);
  	margin-top: -3px !important;

}



/* keep nav bar expanded to mobile */
.navbar-expand-sm {
flex-flow: row nowrap;
justify-content: flex-start;
}


  /* shows the dropdown menu on hover */
.navbar-patric-alt>.nav>.dropdown:hover>.dropdown-menu, .navbar-patric-alt>.nav>.dropdown>.dropdown-menu:hover, .navbar-patric-alt>.nav>.dropdown.show>.dropdown-menu {
  display:block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.25s linear;

}
  

.navbar-patric-alt>.nav>.dropdown:hover, .navbar-patric-alt>.nav>.dropdown.show {
}
